.board-row:after {
    clear: both;
    content: "";
    display: table;
    width: 50px;
  }
  
  .status {
    margin-bottom: 50px;
    font-size: 3rem;
    color: red;
    width: 330px;
    padding-left: 20px;
    margin-left: -10px;
  }
  .status:hover{
    border:2px solid black ;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
    padding-bottom: 10px;
  }