.Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 110px;
}

.Square:focus {
  outline: none;
}
.Square:hover{
   background-color: black;
}
.kbd-navigation .Square:focus {
  background: #ddd;
}